---

import Layout from '../layouts/PageLayout.astro';

---

<Layout >
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="flex justify-between">
				<h1 class="text-xl font-bold pb-10">Golang SMTP Mail Server</h1>
				<a class="btn btn-primary sm:mb-0 h-12" href="https://github.com/lfDev28/golang-O365-smtp-server">Repo Link</a>
			</div>
			<div class="space-y-6">
				<p>
					This project was created to allow for automated emails to be sent for a company I worked for from their
					business management tool. This project was written in GoLang as a way to learn the language and to solve the
					problem of outdated TLS versions constantly plaguing the existing tool. Additionally, this project gave me a
					better understanding of AWS Lambda functions and the AWS ecosystem as a whole.
				</p>
			</div>
		</div>
	</div>
</Layout>
