---
import Layout from '../layouts/PageLayout.astro';

---

<Layout >
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="flex justify-between">
				<h1 class="text-xl font-bold pb-10">Time Complexity Calculator Chrome Extension</h1>
				<div class="space-x-2">
					<a
						class="btn btn-primary sm:mb-0 h-12"
						href="https://chrome.google.com/webstore/detail/tc-calculator/dlgdggabooojhedoebiojhgoplhiehhf"
						>Extension
					</a>
					<a class="btn btn-primary sm:mb-0 h-12" href="https://github.com/lfDev28/go-server">Github</a>
				</div>
			</div>
			<div class="space-y-6">
				<p>
					As a side project, whilst trying to teach myself GoLang and understand the world of Chrome Extensions, I
					leveraged OpenAIs api to create a Chrome Extension that would allow you to get the time complexity of any
					function pasted into the input field. As I filled up my elective areas of my degree with more and more
					Computer Science related classes, to help further my understanding of the discipline, I found that my
					classmates were having a difficult time understanding the time complexity of functions. So, to help them out,
					as well as help my skills, I created this extension. A link to the repo and the extension can be found in the
					top right of the page.
				</p>
			</div>
		</div>
	</div>
</Layout>
