---
import { Icon } from 'astro-icon';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<h1 class="text-5xl md:text-[3.50rem] typewriter font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span>Hi, I'm Lee Forster</span>
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">Welcome to my Portfolio. Thanks for stopping by!</p>
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						Im a full stack developer with a passion for creating beautiful, functional and accessible websites.
						Originally trained as a Mechatronics Engineer, but I fell in love with web development and have been in the
						space for 4 years.
					</p>
					<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn btn-primary sm:mb-0 w-full"
								href="src/assets/Lee_Forster_CV_Jul23.pdf"
								target="_blank"
								download
							>
								<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Download CV
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a class="btn w-full" href="#EmailForm">Contact Me!</a>
						</div>
					</div>
				</div>
			</div>
			<div></div>
		</div>
	</div>
</section>
